body {
	background-color: green;
}

.links {

}

.button {

}

.content-left {

}

.content-right {
	display: flex;
	width: 500px;
	padding: 20px;
}

.main-carousel {
	overflow: hidden;
}

.carousel-div {
	margin-right: 100px;
}

.carousel-img {
	height: 200px;
}

@media only screen 
and (max-width : 420px) {
	.content-box {
	} 
}

@media only screen 
and (min-width : 421px) {
	.content-box {

	}
}